MidasReport/MidasReport/sellbill.xsd

<?xml version="1.0" encoding="utf-8" ?> 
<xs:schema id="sellbill" 
                  targetNamespace="http://tempuri.org/sellbill.xsd"
                  elementFormDefault="qualified"
                  xmlns="http://tempuri.org/sellbill.xsd"
                  xmlns:mstns="http://tempuri.org/sellbill.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sellbill">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sl" type="xs:string" />
        <xs:element name="Particular" type="xs:string" />
        <xs:element name="Quentity" type="xs:string" />
        <xs:element name="Rate" type="xs:string" />
        <xs:element name="StdDis" type="xs:string" />
        <xs:element name="ExtraDis" type="xs:string" />
        <xs:element name="SpecialDis" type="xs:string" />
        <xs:element name="Amount" type="xs:string" />
        <xs:element name="units" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="sellvat">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Date" type="xs:int" />
        <xs:element name="Particulars" type="xs:string" />
        <xs:element name="Voucher" type="xs:string" />
        <xs:element name="ItemNmae" type="xs:float" />
        <xs:element name="Quentity" type="xs:string" />
        <xs:element name="Rate" type="xs:string" />
        <xs:element name="Vatper" type="xs:string" />
        <xs:element name="Vatamt" type="xs:string" />
        <xs:element name="Grossamt" type="xs:string" />
        <xs:element name="LorryNo" type="xs:string" />
        <xs:element name="unites" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ACCsellbill">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sl" type="xs:int" />
        <xs:element name="Particular" type="xs:string" />
        <xs:element name="Quentity" type="xs:string" />
        <xs:element name="Rate" type="xs:float" />
        <xs:element name="StdDis" type="xs:string" />
        <xs:element name="ExtraDis" type="xs:string" />
        <xs:element name="SpecialDis" type="xs:string" />
        <xs:element name="Amount" type="xs:string" />
        <xs:element name="units" type="xs:string" />
        <xs:element name="VatPar" type="xs:string" />
        <xs:element name="Vatamt" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="sellchallan">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sl" type="xs:int" />
        <xs:element name="No" type="xs:string" />
        <xs:element name="Particular" type="xs:string" />
        <xs:element name="bundles" type="xs:float" />
        <xs:element name="Quentity" type="xs:string" />
        <xs:element name="Unit" type="xs:string" />
        <xs:element name="Rate" type="xs:string" />
        <xs:element name="Amount" type="xs:string" />
        <xs:element name="Addless" type="xs:string" />
        <xs:element name="AddAmount" type="xs:string" />
        <xs:element name="Ex1" type="xs:string" />
        <xs:element name="Ex2" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

	<xs:element name="sss">
		<xs:complexType>
			<xs:sequence>
				
				<xs:element name="Sl" type="xs:int" />
        <xs:element name="EmployName" type="xs:string" />
				<xs:element name="ID" type="xs:string" />
				<xs:element name="BankAcountNo" type="xs:float" />
				<xs:element name="Rank" type="xs:string" />
				<xs:element name="Salary" type="xs:string" />
				<xs:element name="W_Day" type="xs:string" />
				<xs:element name="O_T" type="xs:string" />
				<xs:element name="Tot_Day" type="xs:string" />
				<xs:element name="Total_Earning" type="xs:string" />
				<xs:element name="Total_Deduction" type="xs:string" />
				<xs:element name="Net_Pay" type="xs:string" />
				<xs:element name="EmpId" type="xs:string" />
				<xs:element name="SalId" type="xs:string" />
				<xs:element name="TableName" type="xs:string" />
				<xs:element name="Slno" type="xs:string" />
				<xs:element name="Amount" type="xs:string" />
				<xs:element name="EarningHeads" type="xs:string" />
				<xs:element name="FathTitle" type="xs:string" />
				<xs:element name="FathFN" type="xs:string" />
				<xs:element name="FathMN" type="xs:string" />
				<xs:element name="FathLN" type="xs:string" />
				<xs:element name="MothTitle" type="xs:string" />
				<xs:element name="MothFN" type="xs:string" />
				<xs:element name="MothMN" type="xs:string" />
				<xs:element name="MothLN" type="xs:string" />
				<xs:element name="HusTitle" type="xs:string" />
				<xs:element name="HusFN" type="xs:string" />
				<xs:element name="HusMN" type="xs:string" />
				<xs:element name="HusLN" type="xs:string" />
				<xs:element name="DateOfBirth" type="xs:string" />
				<xs:element name="MaritalStatus" type="xs:string" />
				<xs:element name="Gender" type="xs:string" />
				<xs:element name="DesgId" type="xs:string" />
				<xs:element name="JobType" type="xs:string" />
				<xs:element name="PresentAddress" type="xs:string" />
				<xs:element name="PermanentAddress" type="xs:string" />
				<xs:element name="STD" type="xs:string" />
				<xs:element name="Phone" type="xs:string" />
				<xs:element name="Mobile" type="xs:string" />
				<xs:element name="PANno" type="xs:string" />
				<xs:element name="PassportNo" type="xs:string" />
				<xs:element name="PF" type="xs:string" />
				<xs:element name="PenssionNo" type="xs:string" />
				<xs:element name="EDLI" type="xs:string" />
				<xs:element name="ESIno" type="xs:string" />
				<xs:element name="DateOfJoining" type="xs:string" />
				<xs:element name="DateOfRetirement" type="xs:string" />
				<xs:element name="GMIno" type="xs:string" />
				<xs:element name="PenssionDate" type="xs:string" />
				<xs:element name="EmailId" type="xs:string" />
				<xs:element name="salid" type="xs:string" />
				<xs:element name="SecId" type="xs:string" />
				<xs:element name="EmpWorkingStatus" type="xs:string" />
				<xs:element name="Presentbuilding" type="xs:string" />
				<xs:element name="Presentstreet" type="xs:string" />
				<xs:element name="Presentareia" type="xs:string" />
				<xs:element name="Presentcity" type="xs:string" />
				<xs:element name="Presentpin" type="xs:string" />
				<xs:element name="Presentstate" type="xs:string" />
				<xs:element name="Presentcountry" type="xs:string" />
				<xs:element name="Permanentbuilding" type="xs:string" />
				<xs:element name="Permanentstreet" type="xs:string" />
				<xs:element name="Permanentareia" type="xs:string" />
				<xs:element name="Permanentcity" type="xs:string" />
				<xs:element name="Permanentpin" type="xs:string" />
				<xs:element name="Permanentstate" type="xs:string" />
				<xs:element name="Permanentcountry" type="xs:string" />
				<xs:element name="Religion" type="xs:string" />
				<xs:element name="Location_id" type="xs:string" />
				<xs:element name="Company_id" type="xs:string" />
				<xs:element name="PF_Deduction" type="xs:string" />
				<xs:element name="CO_CODE" type="xs:string" />
				<xs:element name="CO_NAME" type="xs:string" />
				<xs:element name="CO_ADD" type="xs:string" />
				<xs:element name="CO_ADD1" type="xs:string" />
				<xs:element name="LocationName" type="xs:string" />
				<xs:element name="Session" type="xs:string" />
				<xs:element name="Misc" type="xs:string" />
				<xs:element name="Misc2" type="xs:string" />
				<xs:element name="Misc3" type="xs:string" />
        <xs:element name="desig_id" type="xs:string" />
        
      </xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="ppp">
		<xs:complexType>
			<xs:sequence>
        <xs:element name="eid" type="xs:int" />
				<xs:element name="id" type="xs:string" />
				<xs:element name="salid" type="xs:string" />
				<xs:element name="EarningHead" type="xs:string" />
				<xs:element name="TableName" type="xs:string" />
				<xs:element name="slno" type="xs:string" />
				<xs:element name="amount" type="xs:string" />
        <xs:element name="Designation_id" type="xs:string" />
        <xs:element name="Location_id" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ppq">
		<xs:complexType>
			<xs:sequence>
        <xs:element name="eid" type="xs:int" />
				<xs:element name="id" type="xs:string" />
				<xs:element name="salid" type="xs:string" />
				<xs:element name="DeductHead" type="xs:string" />
				<xs:element name="TableName" type="xs:string" />
				<xs:element name="slno" type="xs:string" />
				<xs:element name="amount" type="xs:string" />
        <xs:element name="Designation_id" type="xs:string" />
        <xs:element name="Location_id" type="xs:string" />

			</xs:sequence>
		</xs:complexType>
	</xs:element>
  <!-- ========================================================================== -->

  <xs:element name="psM">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="Sl" type="xs:int" />
        <xs:element name="EmployName" type="xs:string" />
        <xs:element name="ID" type="xs:string" />
        <xs:element name="BankAcountNo" type="xs:float" />
        <xs:element name="Rank" type="xs:string" />
        <xs:element name="Salary" type="xs:string" />
        <xs:element name="W_Day" type="xs:string" />
        <xs:element name="O_T" type="xs:string" />
        <xs:element name="Tot_Day" type="xs:string" />
        <xs:element name="Total_Earning" type="xs:string" />
        <xs:element name="Total_Deduction" type="xs:string" />
        <xs:element name="Net_Pay" type="xs:string" />
        <xs:element name="EmpId" type="xs:string" />
        <xs:element name="SalId" type="xs:string" />
        <xs:element name="TableName" type="xs:string" />
        <xs:element name="Slno" type="xs:string" />
        <xs:element name="Amount" type="xs:string" />
        <xs:element name="EarningHeads" type="xs:string" />
        <xs:element name="FathTitle" type="xs:string" />
        <xs:element name="FathFN" type="xs:string" />
        <xs:element name="FathMN" type="xs:string" />
        <xs:element name="FathLN" type="xs:string" />
        <xs:element name="MothTitle" type="xs:string" />
        <xs:element name="MothFN" type="xs:string" />
        <xs:element name="MothMN" type="xs:string" />
        <xs:element name="MothLN" type="xs:string" />
        <xs:element name="HusTitle" type="xs:string" />
        <xs:element name="HusFN" type="xs:string" />
        <xs:element name="HusMN" type="xs:string" />
        <xs:element name="HusLN" type="xs:string" />
        <xs:element name="DateOfBirth" type="xs:string" />
        <xs:element name="MaritalStatus" type="xs:string" />
        <xs:element name="Gender" type="xs:string" />
        <xs:element name="DesgId" type="xs:string" />
        <xs:element name="JobType" type="xs:string" />
        <xs:element name="PresentAddress" type="xs:string" />
        <xs:element name="PermanentAddress" type="xs:string" />
        <xs:element name="STD" type="xs:string" />
        <xs:element name="Phone" type="xs:string" />
        <xs:element name="Mobile" type="xs:string" />
        <xs:element name="PANno" type="xs:string" />
        <xs:element name="PassportNo" type="xs:string" />
        <xs:element name="PF" type="xs:string" />
        <xs:element name="PenssionNo" type="xs:string" />
        <xs:element name="EDLI" type="xs:string" />
        <xs:element name="ESIno" type="xs:string" />
        <xs:element name="DateOfJoining" type="xs:string" />
        <xs:element name="DateOfRetirement" type="xs:string" />
        <xs:element name="GMIno" type="xs:string" />
        <xs:element name="PenssionDate" type="xs:string" />
        <xs:element name="EmailId" type="xs:string" />
        <xs:element name="salid" type="xs:string" />
        <xs:element name="SecId" type="xs:string" />
        <xs:element name="EmpWorkingStatus" type="xs:string" />
        <xs:element name="Presentbuilding" type="xs:string" />
        <xs:element name="Presentstreet" type="xs:string" />
        <xs:element name="Presentareia" type="xs:string" />
        <xs:element name="Presentcity" type="xs:string" />
        <xs:element name="Presentpin" type="xs:string" />
        <xs:element name="Presentstate" type="xs:string" />
        <xs:element name="Presentcountry" type="xs:string" />
        <xs:element name="Permanentbuilding" type="xs:string" />
        <xs:element name="Permanentstreet" type="xs:string" />
        <xs:element name="Permanentareia" type="xs:string" />
        <xs:element name="Permanentcity" type="xs:string" />
        <xs:element name="Permanentpin" type="xs:string" />
        <xs:element name="Permanentstate" type="xs:string" />
        <xs:element name="Permanentcountry" type="xs:string" />
        <xs:element name="Religion" type="xs:string" />
        <xs:element name="Location_id" type="xs:string" />
        <xs:element name="Company_id" type="xs:string" />
        <xs:element name="PF_Deduction" type="xs:string" />
        <xs:element name="CO_CODE" type="xs:string" />
        <xs:element name="CO_NAME" type="xs:string" />
        <xs:element name="CO_ADD" type="xs:string" />
        <xs:element name="CO_ADD1" type="xs:string" />
        <xs:element name="LocationName" type="xs:string" />
        <xs:element name="Session" type="xs:string" />
        <xs:element name="Misc" type="xs:string" />
        <xs:element name="Misc2" type="xs:string" />
        <xs:element name="Misc3" type="xs:string" />
        <xs:element name="desig_id" type="xs:string" />
        <xs:element name="link" type="xs:string" />

      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:element name="psE">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="eid" type="xs:int" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="salid" type="xs:string" />
        <xs:element name="EarningHead" type="xs:string" />
        <xs:element name="TableName" type="xs:string" />
        <xs:element name="slno" type="xs:string" />
        <xs:element name="amount" type="xs:string" />
        <xs:element name="Designation_id" type="xs:string" />
        <xs:element name="Location_id" type="xs:string" />
        <xs:element name="link" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="psD">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="eid" type="xs:int" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="salid" type="xs:string" />
        <xs:element name="DeductHead" type="xs:string" />
        <xs:element name="TableName" type="xs:string" />
        <xs:element name="slno" type="xs:string" />
        <xs:element name="amount" type="xs:string" />
        <xs:element name="Designation_id" type="xs:string" />
        <xs:element name="Location_id" type="xs:string" />
        <xs:element name="link" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <!-- ========================================================================== -->

	<xs:element name="paymentAdvice">
		<xs:complexType>
			<xs:sequence>

				
				<xs:element name="coname" type="xs:string" />
				<xs:element name="Add1" type="xs:string" />
				<xs:element name="Add2" type="xs:string" />
				<xs:element name="locname" type="xs:string" />
				<xs:element name="designation" type="xs:string" />
				<xs:element name="ClientName" type="xs:string" />
				<xs:element name="ClientCity" type="xs:string" />
				<xs:element name="Contract_Person" type="xs:string" />
				<xs:element name="mis1" type="xs:string" />
				<xs:element name="mis2" type="xs:string" />
				<xs:element name="mis3" type="xs:string" />
				<xs:element name="mis4" type="xs:string" />
				<xs:element name="mis5" type="xs:string" />
				<xs:element name="mis6" type="xs:string" />
				<xs:element name="mis7" type="xs:string" />
				<xs:element name="mis8" type="xs:string" />
				<xs:element name="mis9" type="xs:string" />
				<xs:element name="mis10" type="xs:string" />
				<xs:element name="EmpName" type="xs:string" />
				<xs:element name="Bank_Name" type="xs:string" />
				<xs:element name="Branch_Name" type="xs:string" />
				<xs:element name="BankAcountNo" type="xs:string" />
				<xs:element name="IFSCCODE" type="xs:float" />
				<xs:element name="Bank_AC_Type" type="xs:string" />
				<xs:element name="NetPay" type="xs:float" />
				<xs:element name="Cmpimage" type="xs:base64Binary" />
        <xs:element name="ModeOfPayment" type="xs:string" />
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="sss1">
		<xs:complexType>
			<xs:sequence>

				<xs:element name="Sl" type="xs:int" />
				<xs:element name="EmployName" type="xs:string" />
				<xs:element name="ID" type="xs:string" />
				<xs:element name="BankAcountNo" type="xs:float" />
				<xs:element name="Rank" type="xs:string" />
				<xs:element name="Salary" type="xs:string" />
				<xs:element name="W_Day" type="xs:string" />
				<xs:element name="O_T" type="xs:string" />
				<xs:element name="Tot_Day" type="xs:string" />
				<xs:element name="Total_Earning" type="xs:string" />
				<xs:element name="Total_Deduction" type="xs:string" />
				<xs:element name="Net_Pay" type="xs:string" />
				<xs:element name="EmpId" type="xs:string" />
				<xs:element name="SalId" type="xs:string" />
				<xs:element name="TableName" type="xs:string" />
				<xs:element name="Slno" type="xs:string" />
				<xs:element name="Amount" type="xs:string" />
				<xs:element name="EarningHeads" type="xs:string" />
				<xs:element name="FathTitle" type="xs:string" />
				<xs:element name="FathFN" type="xs:string" />
				<xs:element name="FathMN" type="xs:string" />
				<xs:element name="FathLN" type="xs:string" />
				<xs:element name="MothTitle" type="xs:string" />
				<xs:element name="MothFN" type="xs:string" />
				<xs:element name="MothMN" type="xs:string" />
				<xs:element name="MothLN" type="xs:string" />
				<xs:element name="HusTitle" type="xs:string" />
				<xs:element name="HusFN" type="xs:string" />
				<xs:element name="HusMN" type="xs:string" />
				<xs:element name="HusLN" type="xs:string" />
				<xs:element name="DateOfBirth" type="xs:string" />
				<xs:element name="MaritalStatus" type="xs:string" />
				<xs:element name="Gender" type="xs:string" />
				<xs:element name="DesgId" type="xs:string" />
				<xs:element name="JobType" type="xs:string" />
				<xs:element name="PresentAddress" type="xs:string" />
				<xs:element name="PermanentAddress" type="xs:string" />
				<xs:element name="STD" type="xs:string" />
				<xs:element name="Phone" type="xs:string" />
				<xs:element name="Mobile" type="xs:string" />
				<xs:element name="PANno" type="xs:string" />
				<xs:element name="PassportNo" type="xs:string" />
				<xs:element name="PF" type="xs:string" />
				<xs:element name="PenssionNo" type="xs:string" />
				<xs:element name="EDLI" type="xs:string" />
				<xs:element name="ESIno" type="xs:string" />
				<xs:element name="DateOfJoining" type="xs:string" />
				<xs:element name="DateOfRetirement" type="xs:string" />
				<xs:element name="GMIno" type="xs:string" />
				<xs:element name="PenssionDate" type="xs:string" />
				<xs:element name="EmailId" type="xs:string" />
				<xs:element name="salid" type="xs:string" />
				<xs:element name="SecId" type="xs:string" />
				<xs:element name="EmpWorkingStatus" type="xs:string" />
				<xs:element name="Presentbuilding" type="xs:string" />
				<xs:element name="Presentstreet" type="xs:string" />
				<xs:element name="Presentareia" type="xs:string" />
				<xs:element name="Presentcity" type="xs:string" />
				<xs:element name="Presentpin" type="xs:string" />
				<xs:element name="Presentstate" type="xs:string" />
				<xs:element name="Presentcountry" type="xs:string" />
				<xs:element name="Permanentbuilding" type="xs:string" />
				<xs:element name="Permanentstreet" type="xs:string" />
				<xs:element name="Permanentareia" type="xs:string" />
				<xs:element name="Permanentcity" type="xs:string" />
				<xs:element name="Permanentpin" type="xs:string" />
				<xs:element name="Permanentstate" type="xs:string" />
				<xs:element name="Permanentcountry" type="xs:string" />
				<xs:element name="Religion" type="xs:string" />
				<xs:element name="Location_id" type="xs:int" />
				<xs:element name="Company_id" type="xs:string" />
				<xs:element name="PF_Deduction" type="xs:string" />
				<xs:element name="CO_CODE" type="xs:string" />
				<xs:element name="CO_NAME" type="xs:string" />
				<xs:element name="CO_ADD" type="xs:string" />
				<xs:element name="CO_ADD1" type="xs:string" />
				<xs:element name="LocationName" type="xs:string" />
				<xs:element name="Session" type="xs:string" />
				<xs:element name="Misc" type="xs:string" />
				<xs:element name="Misc2" type="xs:string" />
				<xs:element name="Misc3" type="xs:string" />

			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="ppp1">
		<xs:complexType>
			<xs:sequence>

				<xs:element name="id" type="xs:string" />
				<xs:element name="Location_id" type="xs:int" />
				<xs:element name="salid" type="xs:string" />
				<xs:element name="EarningHead" type="xs:string" />
				<xs:element name="TableName" type="xs:string" />
				<xs:element name="slno" type="xs:string" />
				<xs:element name="amount" type="xs:string" />
        <xs:element name="Designation_id" type="xs:string" />

			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ppq1">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:string" />
				<xs:element name="Location_id" type="xs:int" />
				<xs:element name="salid" type="xs:string" />
				<xs:element name="DeductHead" type="xs:string" />
				<xs:element name="TableName" type="xs:string" />
				<xs:element name="slno" type="xs:string" />
				<xs:element name="amount" type="xs:string" />
        <xs:element name="Designation_id" type="xs:string" />

			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="hhn">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Code" type="xs:int" />
				<xs:element name="ID" type="xs:string" />
				<xs:element name="FirstName" type="xs:string" />
				<xs:element name="LastName" type="xs:string" />
				<xs:element name="Location_Name" type="xs:string" />
				<xs:element name="DesignationName" type="xs:string" />
				<xs:element name="DateOfJoining" type="xs:string" />
				<xs:element name="ESIno" type="xs:string" />
				<xs:element name="amount" type="xs:int" />


			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="empJoining">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title" type="xs:string" />
				<xs:element name="middlename" type="xs:string" />
				<xs:element name="FirstName" type="xs:string" />
				<xs:element name="LastName" type="xs:string" />
				<xs:element name="fathtitle" type="xs:string" />
				<xs:element name="fathfn" type="xs:string" />
				<xs:element name="fathmn" type="xs:string" />
				<xs:element name="fathln" type="xs:string" />
				<xs:element name="mothtitle" type="xs:string" />
				<xs:element name="mothfn" type="xs:string" />
				<xs:element name="mothmn" type="xs:string" />
				<xs:element name="mothln" type="xs:string" />
				<xs:element name="hustitle" type="xs:string" />
				<xs:element name="husfn" type="xs:string" />
				<xs:element name="husmn" type="xs:string" />
				<xs:element name="husln" type="xs:string" />
				<xs:element name="dateofbirth" type="xs:date" />
				<xs:element name="maritalstatus" type="xs:string" />
				<xs:element name="gender" type="xs:string" />
				<xs:element name="religion" type="xs:string" />
				<xs:element name="cast" type="xs:string" />
				<xs:element name="weight" type="xs:string" />
				<xs:element name="height" type="xs:string" />
				<xs:element name="designation" type="xs:date" />
				<xs:element name="company" type="xs:string" />
				<xs:element name="location" type="xs:date" />
				<xs:element name="jobtype" type="xs:string" />
				<xs:element name="presentaddress" type="xs:string" />
				<xs:element name="presentbuilding" type="xs:string" />
				<xs:element name="presentstreet" type="xs:date" />
				<xs:element name="presentareia" type="xs:string" />
				<xs:element name="presentcity" type="xs:date" />
				<xs:element name="presentpin" type="xs:string" />
				<xs:element name="presentstate" type="xs:date" />
				<xs:element name="presentcountry" type="xs:string" />
				<xs:element name="permanentaddress" type="xs:string" />
				<xs:element name="permanentbuilding" type="xs:string" />
				<xs:element name="permanentstreet" type="xs:date" />
				<xs:element name="permanentareia" type="xs:string" />
				<xs:element name="permanentcity" type="xs:string" />
				<xs:element name="permanentpin" type="xs:string" />
				<xs:element name="permanentstate" type="xs:date" />
				<xs:element name="permanentcountry" type="xs:string" />
				<xs:element name="language_bengali" type="xs:boolean" />
				<xs:element name="Language_english" type="xs:boolean" />
				<xs:element name="Language_hindi" type="xs:boolean" />
				<xs:element name="PanNO" type="xs:string" />
				<xs:element name="PassportNo" type="xs:string" />
				<xs:element name="Pf" type="xs:string" />
				<xs:element name="EsiNo" type="xs:string" />
				<xs:element name="BankAccountNo" type="xs:string" />
				<xs:element name="Bank_name" type="xs:string" />
				<xs:element name="Branch_name" type="xs:string" />
				<xs:element name="Bank_AC_Type" type="xs:string" />
				<xs:element name="GMIno" type="xs:string" />
				<xs:element name="PensionNo" type="xs:string" />
				<xs:element name="dateofjoining" type="xs:date" />
				<xs:element name="dateofretirement" type="xs:date" />
				<xs:element name="Emarg_Name" type="xs:string" />
				<xs:element name="Emarg_Address" type="xs:string" />
				<xs:element name="Emarg_Tele" type="xs:string" />
				<xs:element name="Emarg_Mobile" type="xs:string" />
				<xs:element name="Quali_code" type="xs:date" />
				<xs:element name="Quali_name" type="xs:date" />
				<xs:element name="University" type="xs:string" />
				<xs:element name="YearOfPassing" type="xs:int" />
				<xs:element name="Percentage" type="xs:int" />
				<xs:element name="Name" type="xs:string" />
				<xs:element name="Relation_Name" type="xs:string" />
				<xs:element name="Age" type="xs:string" />
				<xs:element name="Dependent" type="xs:string" />
				<xs:element name="Ref_name" type="xs:string" />
				<xs:element name="Ref_Address" type="xs:string" />
				<xs:element name="Ref_Occupation" type="xs:string" />
				<xs:element name="Ref_Phone" type="xs:string" />
				<xs:element name="Ref_Email" type="xs:string" />
				<xs:element name="Emp_service" type="xs:string" />
				<xs:element name="Ref_period_service" type="xs:string" />
				<xs:element name="Emp_Rank" type="xs:string" />
				<xs:element name="Emp_Icard_No" type="xs:string" />
				<xs:element name="Emp_Arms" type="xs:string" />
				<xs:element name="Emp_Pension_No" type="xs:string" />
				<xs:element name="Emp_GunLicence" type="xs:string" />
				<xs:element name="Emp_Operation_Area" type="xs:string" />
				<xs:element name="Emp_Issue" type="xs:string" />
				<xs:element name="Emp_GunType" type="xs:string" />
				<xs:element name="Emp_GunValid" type="xs:string" />
				<xs:element name="Emp_DrivingLicence" type="xs:string" />
				<xs:element name="Empimage" type="xs:byte"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="QUALIDET">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="quali_name" type="xs:string" />
				<xs:element name="university" type="xs:string" />
				<xs:element name="yearofpassing" type="xs:int" />
				<xs:element name="percentage" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
